In [1]:
l = [10,20,30,40,50]
print(l)
print(40 in l) # in is called as MEMBERSHIP OPERATOR
print(220 in l)
print(40 not in l)

[10, 20, 30, 40, 50]
True
False
False

In [2]:
l = [10,20,30,40,50]

for i in l:
    print(i)

10
20
30
40
50

In [3]:
l = [10,20,30,40,50]

for darshan in l:
    print(darshan)

10
20
30
40
50

In [4]:
for darshan in [10,20,30,40,50]:
    print(darshan)

10
20
30
40
50

In [5]:
l = [10,20,30,40,50,60,70,80,90,100]

for i in l:
    print(i)

10
20
30
40
50
60
70
80
90
100

In [6]:
l = [10,20,30,40,50,60,70,80,90,100]

for i in l:
    print(i,end="\n") # \n - New Line

10
20
30
40
50
60
70
80
90
100

In [7]:
l = [10,20,30,40,50,60,70,80,90,100]

for i in l:
    print(i,end="\t") # \t - Tab Line

10	20	30	40	50	60	70	80	90	100

In [8]:
l = [10,20,30,40,50,60,70,80,90,100]

for i in l:
    print(i,end=" ")

10 20 30 40 50 60 70 80 90 100

In [9]:
l = [10,20,30,40,50,60,70,80,90,100]

for i in l:
    print(i,end="++++")

10++++20++++30++++40++++50++++60++++70++++80++++90++++100++++

In [10]:
range(5)
# It will generate numbers from 0 to (5-1)

range(0, 5)

In [11]:
for i in range(5):
    print(i,end=" ")

0 1 2 3 4